@media (max-width:400px)
{
    #hamburguer,#close{
        display:block;
        position: absolute;
        top: 38px;
        right: 10%;
    }
    #close{
        display: none;
        z-index: 10;
    }
    #container{
        grid-template-columns: auto;
        justify-content: space-between;
    }
    header{
        margin: 30px 0;
        display: grid;
        grid-template-columns: 100%;
        grid-column: 1/ span 2;
    }
    header #menu{
        display: none;
        background-color: #d0cccc;
        position:absolute;
        top:0;
        right:0;
        flex-direction:column;
        padding: 60px 0;
        width: 60%;
    }
    #menu li{
        margin:30px auto;
    }
    #content{
        grid-template-columns: auto;
    }
    #banner{
        padding-bottom: 20px;
    }
    #banner #img-desktop{
        display: none;
    }
    #banner #img-mobile{
        width: 100%;
        display: block;
    }
    #textos{
        flex-direction: column;  
    }
    #textos > p{
        width: 100%;
        font-size: 50px;
        padding-bottom: 20px;
    }
    #textos #descripcion{
        padding-bottom: 30px;
        width: 100%;
    }
    #content aside{
        background-color: #00001a;
        color: rgb(172, 170, 170);
        padding: 18px;
    }
    #content aside h1{
        color: #eaae54;
        margin: 10px 0;
        font-size: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card{
        padding: 20px 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    footer{
        grid-template-columns: auto;
    }
    footer .footer-card{
        padding-bottom: 20px;
    }
    .footer-card #text{
        width: 60%;
    }
    .footer-card #text h2{
        color: #ccc;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-card #text h5{
        font-size: 17px;
        padding-bottom: 3px;
    }
    .footer-card #text p{
        font-size: 14px;
        line-height: 1.2;
    }
    .footer-card #img-footer img{
        width: 100%;
    }
}